<div id="theFilter" class="col-md-4 col-md-offset-4">
	<select ng-model="restFilter" class="form-control">
		<option value="">都可以</option>
		<option value="true">中餐</option>
		<option value="false">西餐</option>
	</select>
	<br>
	<button id="NextStep" class="btn btn-success center-block" ng-click="mCtrl.nextStep()">下一步</button>
	<br>
</div>
<div id="main" class="row StepTwo hidden">
	<div class="col-md-3">
	</div>
	<div class="col-md-1">
		<span id="right" class="glyphicon glyphicon-chevron-right"></span>
	</div>
	<div class="col-md-4">
		<div id="edge">
			<div id="queue">
				<button class="item btn btn-info btn-lg btn-block disabled" data-toggle="modal" data-target="#myModal"
				 ng-repeat="item in filteredList = (mCtrl.items|filter:{'chinese':restFilter})" style="margin:auto;" ng-click="mCtrl.moreInfo()">{{item.name}}</button>
			</div>
		</div>
	</div>
	<div class="col-md-1">
		<span id="left" class="glyphicon glyphicon-chevron-left"></span>
	</div>
	<div class="col-md-3">
	</div>
</div>

<div class="row StepTwo hidden" style="margin-top:10px;">
	<div id="button" class="col-md-4 col-md-offset-4">
		<button class="btn btn-success btn-lg btn-block" id="roll" ng-click="mCtrl.roll()">Start</button>
	</div>
</div>