#edge {
	margin: auto;
	border: 5px solid black;
	height: 160px;
	overflow: hidden;
}

#queue {
	margin: auto;
	z-index: -1;
}

.item {
	height: 50px;
	position: relative;
	margin:auto;
}

#left {
	top:75px;
	float:left;
}

#right {
	top:75px;
	float:right;
}
