/*#logo {
	height: 100px;
	clear: right;
	font-family: Arial, sans-serif;
	font-size: 50px;
}

#logotext {
	margin-top: 21px;
	display: inline-block;
}

#main {
	height: 300px;
}

#footing {
	height: 100px;
	clear: both;
	text-align: center;
}


.button {
	background-color: #00FFFF;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-right: 100px;
	width: 300px;
	height: 50px;
	border-radius: 100px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.hide {
	display: none;
}

#start {
	border: 10px solid red;
}

#stop {
	border: 10px solid green;
}

.button:hover {
	opacity: 0.5;
}

.item {
	margin: auto;
	border: 5px solid blue;
	border-radius: 10px;
	width: 290px;
	height: 50px;

}

*/

#edge {
	margin: auto;
	border: 5px solid black;
	/*width: 300px;*/
	height: 160px;/* Why 160??? */
	overflow: hidden;
}

#queue {
	/*width: 300px;*/
	margin: auto;
	z-index: -1;
}

.item {
	height: 50px;
	position: relative;
}

